/* ******************* */
/* component ROW start */
/* ******************* */

:root{
    --gutter:15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
/* Col start */
.col-1{
    width: calc(100% / 12 * 1 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-2{
    width: calc(100% / 12 * 2 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-3{
    width: calc(100% / 12 * 3 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-4{
    width: calc(100% / 12 * 4 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-5{
    width: calc(100% / 12 * 5 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-6{
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-7{
    width: calc(100% / 12 * 7 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-8{
    width: calc(100% / 12 * 8 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-9{
    width: calc(100% / 12 * 9 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-10{
    width: calc(100% / 12 * 10 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-11{
    width: calc(100% / 12 * 11 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
.col-12{
    width: calc(100% / 12 * 12 - var(--gutter) * 2);
    margin: 0 var(--gutter);
}
/* Col end */
/* ***************** */
/* component ROW end */
/* ***************** */


/* ******************* */
/*    @media col       */
/* ******************* */
/* lg */
@media (max-width: 1200px){
    .col-lg-6{
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
        margin: 0 var(--gutter);
    }
}
/* md */
@media (max-width: 992px){
    .col-md-6{
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
        margin: 0 var(--gutter);
    }

}
/* sm */
@media (max-width: 768px){
    .col-md-12{
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
        margin: 0 var(--gutter);
    }
    .col-sm-6{
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
        margin: 0 var(--gutter);
    }
    .col-sm-12{
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
        margin: 0 var(--gutter);
    }
}
/* xs */
@media (max-width: 560px){
    .col-xs-12{
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
        margin: 0 var(--gutter);
    }
    
}