/* ************************* */
/* Component scrollbar start */
/* ************************* */
::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #95E1D3;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}
/* *********************** */
/* Component scrollbar end */
/* *********************** */