/* **************************** */
/* Component Section-head  start*/
/* **************************** */
.section-head {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.section-head__subtitle {
    font-family: 'Kaushan Script';
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 25px;
}
@media (max-width: 1200px){
    .section-head__subtitle{
        font-size: 24px;
        line-height: 35px;
    }
}
.section-head__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
@media (max-width: 1200px){
    .section-head__title{
        font-size: 24px;
        line-height: 28px;
    }
}
.section-head__title:after{
    content: "";
    display: block;
    max-width: 170px;
    border: 2px solid #F38281;
    background: #F38281;
    margin: 40px auto 40px auto;
}
@media (max-width: 1200px){
    .section-head__title:after{
        max-width: 148px;
    }
}
@media (max-width: 560px){
    .section-head__title:after{
        max-width: 134px;
    }
}
/* ************************** */
/* Component Section head end */
/* ************************** */