/* ...................................ABOUT....................................... */
.section-about{
    padding: 50px 0;

    &__text{
        display: flex;
        align-items: center;
        text-align: center;
    }
    &__text-about{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.67em;

        @include breakpoint(xl) {
            font-size: 14px;
        }
    }
    &___cards{
        padding-top: 40px;

        @include breakpoint(sm) {
            padding-top: 16px;        
        }
    }
    &__team-card{
        background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 42px;

        &:hover{
            box-shadow: #95E1D3 16px 16px;
            transform: translate(-20px, -20px);
            transition: 0.5s linear;
        }
    }
    &__team-icon{
        max-width: 36px;
        max-height: 36px;

        @include breakpoint(xl) {
            max-width: 33px;
            max-height: 33px;
        }

        @include breakpoint(sm) {
            max-width: 30px;
            max-height: 30px;
        }
    }
    &__ourteam{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.67em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        cursor: pointer;

        @include breakpoint(md) {
            font-size: 18px;
        }
    }
    &__image{
        display: block;
        width: 100%;
        object-fit: cover;
        max-height: 338px;
    }
}
