/*.....................................FOOTER................................. */
.footer{
    padding-top: 80px;
    padding-bottom: 20px;

    &__row{
        display: flex;
    }

    &__media{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__img{
        max-width: 140px;
        margin-bottom: 26px;

        @include breakpoint(xl) {
            max-width: 95px;
        }
    }

    &__descr{
        font-family: 'Raleway'; 
        font-style: normal;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #C6CBCD;

        @include breakpoint(xl) {
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
        }
    }

    &__follower-count::after{
        content: '';
        display: block;
        width: 100%;
        border-bottom: 1px solid #C6CBCD;
        background-color: #C6CBCD;
    }

    &__media-cta{
        font-family: 'Raleway';
        font-style: italic;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #C6CBCD;
    }

    &__socials{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 37px;
    }

    &__socials-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__socials-item{
        margin-right: 10px;

        @include breakpoint(xl) {
            margin-right: 20px;
        }

        &:last-child{
            margin-right: 0;
        }

    }

    &__socials-icon{
        width: 24px;

        @include breakpoint(xl) {
            width: 18px;
        }
    }

    &__subscribe {
        display: flex;
        margin-top: auto;
    }

    &__col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include breakpoint(lg) {
            margin-bottom: 30px;
        }
    }

    &__col-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 33px;

        @include breakpoint(xl) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__text{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: black;
    }

    &__copyright{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 42px;

        &::before{
            content: '';
            display: block;
            border-top: 1px solid #C6CBCD;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
