.partners {
    padding: 70px 0;
    background: #F8F8F8;

    &__images{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:first-child{
            margin-left: 0;
        }
    }
    &__link{
        margin-left: 80px;
        max-width: 127px;
        max-height: 127px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(xl) {
            max-width: 86px;
            max-height: 86px;
            margin-bottom: 30px;
        }

        &:last-child{
            margin-right: 0;
        }
    }
}