.presentation{
    padding-top:84px;

    @include breakpoint(xl) {
        padding-top: 57px;
    }
    @include breakpoint(sm) {
        padding-top: 29px;
    }
    
    &__text{
        margin-bottom: 80px;
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity .2s linear;
    }

    &__bg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        width: 100%;
        opacity: 0;
        transition: opacity .2s linear;
    }



    &__gallery-items{
        display: grid;
        width: 100%;
        height: auto;
        gap: 0;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2, 1fr);

        @include breakpoint(sm) {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(5, 1fr);
        }
    }    
    &__gallery-item{
        position: relative;
        background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);

        &:hover .presentation__image{
            opacity: .1;
        }
        &:hover .presentation__bg{
            opacity: 1;
        }
    }
}
