/* ..................................REVIEWS.......................... */
.reviews{
    padding: 80px 0 50px 0;
    background: linear-gradient(rgba(255, 255, 255, 0.9)0%, rgba(255, 255, 255, 0.8)100%),  url('../images/dist/reviews/bg.jpg') no-repeat;
    background-size: cover;

    &__cards{
        margin-top: 42px;
        @include breakpoint(xl) {
            margin-top: 28px;
        }
    }
    &__card{
        display: flex;

        @include breakpoint(md) {
            align-items: center;
            justify-content: center;
        }

        @include breakpoint(sm) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__img{
        display: block;
        max-width: 130px;
        max-height: 130px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        
        @include breakpoint(xl) {
            max-width: 88px;
            max-height: 88px;
        }
    }
    &__content{
        padding: 0 50px;

        @include breakpoint(xl) {
            padding: 0 48px;
        }

        @include breakpoint(md) {
        width: 70%;
        }

        @include breakpoint(sm) {
            width: 100%;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
        }
    }

    &__card{
        margin-bottom: 60px;
    }

    &__title{
        margin-bottom: 10px;

        @include breakpoint(xl) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__subtitle{
        @include breakpoint(xl) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__subtitle:after{
        margin-top: 32px;

        @include breakpoint(xl) {
            max-width: 47px;
            margin-top: 21px;
        }

        @include breakpoint(sm) {
            margin: 20px auto 0 auto;
            max-width: 134px;
        }
    }

    &__text{
        margin-top: 32px;

        @include breakpoint(xl) {
            font-size: 14px;
            line-height: 16px;
            margin-top: 40px;
        }
        @include breakpoint(sm) {
            text-align: center;
        }
    }
}
