/* ..................................SERVICES..................................... */

.services {
    padding: 42px 0;
}
@media screen and (max-width: 1024px) {
    .services{
        padding: 58px 15px;
    }
    
}

.services__card{
    display: flex;
    margin-bottom: 148px;
}

.services__img{
    margin-right: 30px;
    width: 70px;
    height: 70px;
}
@media screen and (max-width: 1024px) {
    .services__img{
        width: 42px;
        height: 42px;
    }
}

.services__card-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
    .services__card-name{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
}
.services__card-desk {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
@media screen and (max-width: 1024px){
    .services__card-desk{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}