/* default */
*{
    font-size: 18px;
    box-sizing: border-box;
}
body{
    margin: 0;
}
p{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
nav,footer,header,aside{display: block;}

ul, li{
    text-decoration: none;
}
path{
    fill:inherit; 
    stroke:inherit; 
}


:root{
    --gutter:15px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;    
    padding: 0 15px;
} 
